openapi: 3.2.0
info:
  title: Tint Decisions API
  description: Tint API v2 - the embedded protection / insurance-as-a-service infrastructure that powers Tint's Hermes platform.
  termsOfService: https://www.tint.ai
  contact:
    name: Tint
    url: https://www.tint.ai
  version: '2'
servers:
- url: https://api.tint.ai/v2
  description: Tint API v2 (sandbox vs production selected by API token)
security:
- bearerAuth: []
tags:
- name: Decisions
  description: Decision Engine decisions and Score Module scores.
paths:
  /policy/{policyId}/decisions/{decisionType}:
    get:
      operationId: getPolicyDecision
      tags:
      - Decisions
      summary: Calculate and retrieve a Decision Engine decision for a policy
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
      - name: decisionType
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Calculated decision.
  /policy/{policyId}/scores:
    get:
      operationId: computePolicyScores
      tags:
      - Decisions
      summary: Compute Score Module scores for a policy
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Computed scores.
  /policy/{policyId}/score/{scoreId}:
    get:
      operationId: getPolicyScore
      tags:
      - Decisions
      summary: Retrieve one calculated score for a policy
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
      - name: scoreId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Calculated score.
  /policy/{policyId}/endorsement/{id}/decisions/{decisionType}:
    get:
      operationId: getEndorsementDecision
      tags:
      - Decisions
      summary: Get a decision for an endorsement
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: decisionType
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Endorsement decision.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token passed as "Authorization: Bearer ${API_TOKEN}". The token determines whether the request is routed to the sandbox or production environment.'
