openapi: 3.0.1
info:
  title: Tint Claims API
  description: Tint API v2 - the embedded protection / insurance-as-a-service infrastructure that powers Tint's Hermes platform. The REST API provides programmatic access to insurance products (programs) and plans, rated quotes, the full policy lifecycle (create, issue, endorse, report usage, cancel, void), claims handling (FNOL through settlement), Decision Engine decisions, Score Module scores, and questionnaires. Every request is authenticated with a Bearer API token; the same token determines whether the request is routed to the sandbox or production environment. Endpoint paths below are modeled from Tint's public documentation at https://docs.tint.ai; request/response schemas are configured per program via Tint's validation schema and are therefore not fully enumerated here.
  termsOfService: https://www.tint.ai
  contact:
    name: Tint
    url: https://www.tint.ai
  version: '2'
servers:
- url: https://api.tint.ai/v2
  description: Tint API v2 (sandbox vs production selected by API token)
security:
- bearerAuth: []
tags:
- name: Claims
  description: Claims handling from FNOL through settlement.
paths:
  /policy/{policyId}/claim:
    post:
      operationId: createClaim
      tags:
      - Claims
      summary: Create a claim (first notice of loss) on a policy.
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Claim created.
  /policy/{policyId}/claims:
    get:
      operationId: listPolicyClaims
      tags:
      - Claims
      summary: List claims on a policy.
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of claims.
  /policy/{policyId}/claim/{claimId}:
    put:
      operationId: updatePolicyClaim
      tags:
      - Claims
      summary: Update a claim under a policy.
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
      - name: claimId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated claim.
  /claims:
    get:
      operationId: listClaims
      tags:
      - Claims
      summary: List claims across the account.
      responses:
        '200':
          description: List of claims.
  /claim/{id}:
    get:
      operationId: getClaim
      tags:
      - Claims
      summary: Retrieve a claim.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claim.
    put:
      operationId: updateClaim
      tags:
      - Claims
      summary: Update a claim.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated claim.
  /claim/{id}/receive:
    post:
      operationId: receiveClaim
      tags:
      - Claims
      summary: Mark a claim as received.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claim received.
  /claim/{id}/incomplete:
    post:
      operationId: markClaimIncomplete
      tags:
      - Claims
      summary: Mark a claim as incomplete.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claim marked incomplete.
  /claim/{id}/review:
    post:
      operationId: reviewClaim
      tags:
      - Claims
      summary: Move a claim into review.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claim under review.
  /claim/{id}/approve:
    post:
      operationId: approveClaim
      tags:
      - Claims
      summary: Approve a claim.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claim approved.
  /claim/{id}/settle:
    post:
      operationId: settleClaim
      tags:
      - Claims
      summary: Settle a claim.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claim settled.
  /claim/{id}/deny:
    post:
      operationId: denyClaim
      tags:
      - Claims
      summary: Deny a claim.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claim denied.
  /claim/{id}/withdraw:
    post:
      operationId: withdrawClaim
      tags:
      - Claims
      summary: Withdraw a claim.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claim withdrawn.
  /claim/{claimId}/notes:
    get:
      operationId: listClaimNotes
      tags:
      - Claims
      summary: List notes on a claim.
      parameters:
      - name: claimId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of claim notes.
  /claim/{claimId}/note:
    post:
      operationId: createClaimNote
      tags:
      - Claims
      summary: Add a note to a claim.
      parameters:
      - name: claimId
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Note created.
  /claim/{claimId}/note/{noteId}:
    put:
      operationId: updateClaimNote
      tags:
      - Claims
      summary: Update a claim note.
      parameters:
      - name: claimId
        in: path
        required: true
        schema:
          type: string
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated note.
  /claim/{claimId}/payment:
    post:
      operationId: createClaimPayment
      tags:
      - Claims
      summary: Record a payment against a claim.
      parameters:
      - name: claimId
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Claim payment recorded.
  /claim/{claimId}/upload-url:
    get:
      operationId: getClaimUploadUrl
      tags:
      - Claims
      summary: Get a pre-signed URL to upload a claim document.
      parameters:
      - name: claimId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Upload URL.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token passed as "Authorization: Bearer ${API_TOKEN}". The token determines whether the request is routed to the sandbox or production environment.'
